@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #7332D6;
  --color-highlight: #7C3FE0;
  --color-text: #ffffff;  
  --color-bg: #050509f5;
  --color-surface: #151515;
  --color-primary: #7332D6;
}

body {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.6;
  margin: 0;
  margin-top: 70px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-bg) !important;
  color: var(--color-text) !important;
}